@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Cambay-Bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none
}

li,
ol,
ul {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit
}

body,
html {
    background: radial-gradient(230.05% 167.31% at 98.46% -34.96%, #B200FF 0%, #4300FF 100%);
    height: 100%;
    line-height: 22px;
    font-size: 18px;
    font-family: 'CustomFont';
    font-weight: 700;
    font-style: normal;
    overflow: hidden
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../images/bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    mix-blend-mode: screen
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo {
    position: absolute;
    top: 6%;
    left: 3%;
    z-index: 3
}

.rectangle {
    position: relative;
    width: 88%;
    height: 75%;
    border-radius: 12px;
    background: linear-gradient(108deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.07) 100%);
    -webkit-backdrop-filter: blur(34px);
    backdrop-filter: blur(34px);
    z-index: 2
}

.rectangle:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(108deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.07) 100%) border-box;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude
}

.bg_text {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../images/text.webp) no-repeat;
    background-position: center left;
    background-size: contain
}

.rectangle p {
    position: relative;
    top: 20%;
    left: 7%;
    color: #fff;
    font-size: calc(100vw /15);
    line-height: calc(100vw /14)
}

.man_bg {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/man_bg.webp) no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 62%;
    height: 84%;
    z-index: 2
}

.man {
    position: absolute;
    bottom: 0;
    right: 4%;
    background: url(../images/man.webp) no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 50%;
    height: 95%;
    z-index: 4
}

.link {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25%;
    height: 11%;
    color: #FFF;
    font-size: 32px;
    line-height: normal;
    bottom: 25%;
    left: 12%;
    border-radius: 16px;
    background: radial-gradient(230.05% 167.31% at 98.46% -34.96%, #00C973 0%, #009D9B 100%), radial-gradient(230.05% 167.31% at 98.46% -34.96%, #B200FF 0%, #4300FF 100%);
    z-index: 4;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.link:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.money {
    position: absolute;
    left: -150px;
    z-index: 1
}

@media (max-width:1024px) {
    /* .wrapper .man_bg {
        width: 50%;
        -webkit-transform: scale(1.3) translate(-5%, -2%);
        transform: scale(1.3) translate(-5%, -2%)
    }

    .wrapper .man {
        left: 65%;
        -webkit-transform: scale(1.3) translate(-50%, -2%);
        transform: scale(1.3) translate(-30%, -10%)
    } */

    .wrapper .logo {
        -webkit-transform: translate(20%, -40%);
        transform: translate(20%, -40%)
    }

    .wrapper .bg_text {
        -webkit-transform: translate(-10%, -50%) scale(1.5);
        transform: translate(-10%, -50%) scale(1.5)
    }

    .wrapper .rectangle p {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 8%;
        font-size: calc(100vw / 10);
        line-height: calc(100vw / 9)
    }

    .wrapper .link {
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 10%
    }
}

@media (max-width:700px) {
    .wrapper .logo {
        -webkit-transform: translate(-5%, -40%) scale(0.6);
        transform: translate(-5%, -40%) scale(0.6)
    }

    .wrapper .logo {
        -webkit-transform: translate(-5%, -40%) scale(0.6);
        transform: translate(-5%, -40%) scale(0.6)
    }

    .wrapper .man {
        width: 70%;
        left: 55%;
        transform: scale(1.3) translate(-20%, -8%);
    }
}

@media (max-width: 500px) {
    .wrapper .man_bg {
        width: 90%;
        -webkit-transform: scale(1.7) translate(-5%, -13%);
        transform: scale(1.7) translate(-10%, -20%);
    }

    .wrapper .man {
        width: 80%;
        -webkit-transform: scale(1.3) translate(-50%, -8%);
        transform: scale(1.3) translate(-35%, -5%);
    }

    .wrapper .logo {
        -webkit-transform: translate(-15%, -40%) scale(0.5);
        transform: translate(-15%, -40%) scale(0.5)
    }

    .wrapper .bg_text {
        -webkit-transform: translate(-10%, -60%) scale(1.5);
        transform: translate(-10%, -60%) scale(1.5)
    }

}

@media (max-width: 375px) {
    .wrapper .man {
        -webkit-transform: scale(1.7) translate(-5%, -13%);
        transform: scale(1.5) translate(-40%, -15%);
    }
}

@media (max-width: 425px) {
    .wrapper .man {
        width: 75%;
        -webkit-transform: scale(1.3) translate(-5%, -13%);
        transform: scale(1.5) translate(-40%, -10%);
    }
}

@media (max-width: 320px) {
    .wrapper .man {

        -webkit-transform: scale(1.7) translate(-5%, -13%);
        transform: scale(1.5) translate(-40%, -15%);
    }
}